body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family:"Montserrat";
  font-weight: 900;
}

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.nav-item {
  font-size: 1.2rem;
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.fa-apple {
  margin: auto 10px 5px auto;
}

.fa-google-play {
  margin: auto 5px 5px auto;
}

.container-fluid {
  padding: 7% 15%;
}

.download-button {
  margin: 5% 3% 5% 0;
  font-size: 1.2rem;
}

.dog-smartphone {
  transform: rotate(25deg);
  padding-top: 5%;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-image {
  width: 60%;
  position: absolute;
  right: 20%;
}

#title {
  background-color: #ff4c68;
  text-align: left;
}

/* Features section */
p {
  color: #8f8f8f;
}

#features {

  background-color: #fff;
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
}

.features-infos {
  padding: 5% 8%;
}

.features-icons {
  color: #ef8172;
  padding-bottom: 1rem;
}

.features-icons:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {

  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

#press {
  background-color: #ef8172;

}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {

  padding: 5% 10%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.card {
  margin: 3% 5% 3% 0;
}

/* cta */
#cta {

  background-color: #ff4c68;
}

.cta-sentence {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

footer {

  background-color: #fff;
}

.social-icon {
  margin: 20px 15px;
}

@media (max-width:1024px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }

  .dog-smartphone {
    transform: rotate(0);
  }
}
